.card {
    display: flex;
    flex-direction: column;
    position: relative;
    left: 100px;
    width: 400px;
    height: 220px;
    box-shadow: 10px 10px 10px grey;
    border: 1px solid black;
    border-radius: 10px;
    animation-name: bgColor;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}

 h3 {
    animation-name: text;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    font-size: 20px;
    text-align: center;
    line-height: 170px;
}

@keyframes text {
    0% {
        font-size: 20px;
    }
    50% {
        font-size: 28px;
    }
    100% {
        font-size: 20px;
    }

}

@keyframes bgColor {
    0% {
        background-color: red;
    }
    50% {
        background-color: yellow;
    }
    75% {
        background-color: green;
    }
    100% {
        background-color: blue;
    }
}

.card-body input{
    display: block;
    padding: 5px;
    border-radius: 10px ;
    border: 1px solid blue;
}

.card .card-body input:focus {
    background-color: brown;
}

.card-body {
    position: absolute;
    left: 100px;
}

.card-body button {
    margin-top: 10px;
    width: 100%;
    padding: 6px;
    border-radius: 10px;
}